recursive-include nomad/templates *.png *.svg *.exists *.ico *.txt *.ipynb *.py *.sql *.yml *.html *.md .gitkeep .gitignore
recursive-include nomad/agents *.sh Dockerfile
recursive-include nomad/examples *.py *.yml
recursive-include nomad/tests *.py *.yml