recursive-include alto/templates *.png *.svg *.exists *.ico *.txt *.ipynb *.py *.sql *.yml *.html *.md .gitkeep .gitignore
recursive-include alto/agents *.sh Dockerfile
recursive-include alto/examples *.py *.yml
recursive-include alto/tests *.py *.yml